@import '@/lib/reset.scss';
* { touch-action: pan-y;}
.contentCart {
  @include rect(100%, 100%);
  @include background-color(#eeeeee);
  @include overflow();
  .activity {
    @include rect(100%, 0.44rem);
    @include background-color(#fff8f4);
    .actiList {
      @include rect(100%, 0.44rem);
      @include text-color(#ff1111);
      @include font-size(0.12rem);
      @include margin(0 0 0 0.12rem);
      line-height: 44px;
    }
    .iconfont {
      @include margin(0.12rem 0 0 0.8rem);
      @include text-color(#cfcac6);
    }
  }
  .shopList {
    @include rect(100%, 2.56rem);
    @include background-color(#fff);
    @include margin(0.12rem 0 0 0);
    .title {
      @include rect(100%, 0.4rem);
      @include flexbox();
      @include align-items();
      border-bottom: 1px solid #f5f5f5;
      .sp1 {
        display: block;
        border: 2px solid #babecb;
        @include rect(0.2rem, 0.2rem);
        @include border-radius(50%);
        @include margin(0 0 0 0.12rem);
      }
      .sp2 {
        @include rect(1.95rem, 0.4rem);
        @include background-color(#fff);
        @include flexbox();
        @include align-items();
        @include margin(0 0 0 0.2rem);
      }
      .sp3 {
        @include rect(0.45rem, 0.4rem);
        @include flexbox();
        @include align-items();
        @include justify-content();
        @include margin(0 0 0 0.24rem);
        @include background-color(#fff);
      }
      .sp4 {
        display: block;
        @include rect(0.45rem, 0.4rem);
        @include flexbox();
        @include align-items();
        @include background-color(#fff);
      }
    }
    .count {
      @include rect(100%, 0.41rem);
      @include background-color(#fff);
      @include flexbox();
      @include align-items();
      border-bottom: 1px solid #f5f5f5;
      img {
        @include rect(0.64rem, 0.18rem);
        @include margin(0 0 0 0.42rem);
      }
    }
    .shopImg {
      @include rect(100%, 1.27rem);
      @include flexbox();
      @include align-items();
      border-bottom: 1px solid #f5f5f5;
      .shopClick {
        display: block;
        border: 2px solid #babecb;
        @include rect(0.2rem, 0.2rem);
        @include border-radius(50%);
        @include margin(0 0 0 0.12rem);
      }
      img {
        @include rect(0.88rem, 0.88rem);
        @include margin(0 0 0 0.12rem);
      }
      .shopKind {
        position: relative;
        h3 {
          @include font-size(0.12rem);
          @include margin(0.36rem 0 0.1rem 0.12rem);
        }
        .price {
          @include rect(1.2rem, 0.5rem);
          @include margin(0 0 0 0.12rem);
          @include text-color(red);
          @include flexbox()
        }
      }
    }
  }
}
// .am-wingblank {
//   height: 36px;
// }
// .am-button {
//   display: block;
//   outline: 0 none;
//   font-size: 14px;
//   height: 24px;
//   border: 1PX solid #ddd;
//   border-radius: 5px;
//   background: #cfcac6;
//   margin-bottom:12px;
//   text-align: left;
//   line-height: 24px;
//   font-size: 12px;
//   -webkit-border-radius: 5px;
//   -moz-border-radius: 5px;
//   -ms-border-radius: 5px;
//   -o-border-radius: 5px;
// }

// .am-list-item .am-list-line .am-list-extra {
//   flex-basis: 100%;
//   color: #888;
//   font-size: 14px;
//   line-height:30px;
//   text-align: right;
//   height: 30px;
//   margin-left:60px;
//   padding-bottom: 10px;
// }

// .am-list-item .am-list-line .am-list-extra {
//     flex-basis: 100%;
//     color: #888;
//     font-size: 14px;
//     line-height: 30px;
//     text-align: right; 
//     height: 30px;
//     margin-left: 60px;
//     margin-top: -30px;
// }

// .am-stepper-handler-wrap {
//   height: 30px;
// }
// .am-list-item .am-list-line-wrap .am-list-extra {
//     white-space: normal;
// }
.tanItme {
  @include rect(100%, 1.16rem);
  @include flexbox();
  img {
    @include rect(1.05rem, 1.05rem);
  }
  .listInfo {
    @include margin(0 0 0 0.12rem);
    .p1 {
      color: #ff1111;
    }
    .iconfont {
      font-size: 24px;
      position: absolute;right: 10px;top:6px;
    }
  }
}
.but {
  @include rect(98%,0.38rem);
  text-align: center;
  line-height: 38px;
  color: #fff;
  background: #fe5e08;
  font-size: 20px;
  border-radius:20px;
  border:none;
}
.am-modal-body {
  height: 530px;
}
.like {
  @include rect(100%, auto);
  @include background-color(#f2f2f2);
  @include margin(0.2rem 0 0 0.08rem);
  .imgLike {
    @include rect(100%, 0.44rem);
    @include flexbox();
    @include align-items();
    @include justify-content();
    img {
      @include rect(1.54rem, 0.18rem);
    }
  }
  .likeList {
    @include rect(1.44rem, 2.50rem);
    @include background-color(#fff);
    @include margin(0.08rem 0 0 0.08rem);
    @include border-radius(0.05rem 0.05rem);
    float: left;
    img {
      @include rect(1.4rem, 1.4rem);
      @include border-radius(0.05rem 0.05rem);
    }
    .titelCon {
      @include rect(1.5rem, 0.4rem);
      @include text-color(#333);
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      text-align: center;
      margin:6px 0 0 -6px;
    }
    .pic {
      font-size: 14px;
      margin:8px;
      color: red;
    }
  }
}
.numPrice {
  @include rect(100%, 0.5rem);
  @include background-color(#fff);
  @include flexbox();
  @include align-items();
  @include justify-content(space-around);
  position: fixed;bottom: 48px;
  .sp-quanxuan {
    display: block;
    border: 2px solid #babecb;
    @include rect(0.2rem, 0.2rem);
    @include border-radius(50%);
    @include margin(0.06rem 0 0 0);
  }
  .sp-pic {
    @include margin(0 0 0 0.6rem);
    em {
      @include text-color(#f50);
    }
  }
  .btn-jie {
    @include rect(1rem, 0.48rem);
    @include background-color(#f50);
    @include flexbox();
    @include align-items();
    @include justify-content();
    @include margin(0 -0.2rem 0 0);
    border: 0;
    color: #fff;
  }
}

.am-modal-mask {
  display: none;
}
.am-wingblank.am-wingblank-lg{
  width: 120px;
}
.am-list-item .am-list-line .am-list-extra{
  margin:-20px 0 0 24px;
}
html:not([data-scale]) .am-list-body::before,html:not([data-scale]) .am-list-body::after{
  height: 0;
}

.num{
  margin: 0 0 0 80px;
  @include rect(1rem,.3rem);
  line-height: .3rem;
  font-size: 18px;
  span{
    font-size: 20px;
    border: 1px solid #000;
    @include rect(.2rem,.2rem);
    display: inline-block;
    line-height: .2rem;
    text-align: center;
  }
}

#head{
  text-align: center;
  line-height: .44rem;
  color: #fff;
  font-size: 20px;
}

.head-img{
  text-align: center;
  @include flexbox();
  @include justify-content();
  @include align-items();
  @include flex-direction(column);
  margin: .3rem 0 .4rem 0;
  .imgd{
      @include rect(100px,100px);
       background-color: #ccc;
       border-radius: 50%;
       line-height: 100px;
    img{
      @include rect(60px,60px);
    }
  }
}

.iyt{
  @include flexbox();
  @include rect(100%,auto);
  .otp{
    @include rect(48px,110px);
    background: #f50!important;
    text-align: center;
    line-height: 110px;
    color: #fff;
    display: none;
  }
}
